/* CSS files add styling rules to your content */

.btn,
p.itemPara,
p {
  padding: 12px 16px;
  margin: 2px;
}

.filterDiv,
.show {
  float: left;
  width: 100%;
}

.filterDiv,
.show,
.btn {
  margin: 2px 2px;
}

.filterDiv {
  display: none;
}

.show {
  display: inline-block;
}

#myBtnContainer {
  margin-bottom: 20px;
}

.container {
  margin-bottom: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border-radius: 12px;
  background-color: #f1f1f1;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
